<div class="card" style="width: 18rem;">
    <img class="card-img-top" 
    style="height: 100px; width: 100px; margin-left: 20px; margin: 20px;
    margin: auto; margin-top: 10px;" 
    src='{{course.courseImgUrl}}' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{course.courseName}}</h5>
      <p class="card-text">RATING : {{course.rating}}</p>
      <p class="card-text">FEE : {{course.courseFee}}</p>
      <a href="#" class="btn btn-primary">Enroll</a>
    </div>
  </div>