<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App Welcome Page</title>
</head>
<body>
    <div class="container">
        <h1 class="title">
            About the App
        </h1>
        <p>
            This app is built with angular, that demonstrates basic angular properties like data binding using the @input directive
            from the parent to child component. Also, it demonstrates the basic form validation using the Validators class in the 
            angular. The form used here is the Model Driven Form.
            <br><br>
            Validations like required, pattern matching are used. Form won't be able to submit, if it has failed validations.
        </p>
        <hr>
        <h3 class="title">
            Parent & Child Routing
        </h3>
        <p>
            The Courses section is built to show the parent to child routing using the Router Module in the angular framework.
            The view is dynamically updated upon the state change, by the use of subscribe function.
        </p>
    </div>
</body>
</html>