
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <div class="container">
        <div class="course">
            <div class="table table-striped courseDetail">
                <thead>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor='let course of courses'>
                        <a [routerLink]="['/Courses', course.courseId]">
                            <td>{{course.courseId}}</td>
                        </a>
                        <td>{{course.courseName}}</td>
                        <td>{{course.rating}}</td>
                    </tr>
                </tbody>
            </div>
            <div class="courseDetailCard">
                <router-outlet></router-outlet>
            </div>
            <div style='clear:both;'>&nbsp;</div>
        </div>
    </div>
</body>
</html>


