
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
</head>
<body>
    <div class="container">
        <div class="alert alert-success">
            <h3 class="alert-heading">Cool!</h3>
            <p>Basic Angular Form Validation Successful!</p>
            <hr>
            <p class="mb-0">Data has been binded using the @input() directive.</p>
            <p>The Form values has been passed from Parent component(The Form), to the this component
                (alert). 
            </p>
            <hr>
            <h6 class="alert-heading">Values passed : </h6>
            <br>
            <p>BookID : {{newBook.BookId}}</p>
            <p>Book Name : {{newBook.BookName}}</p>
            <p>Book Author : {{newBook.BookAuthor}}</p>
        </div>

    </div>
</body>
</html>